@model IEnumerable<DemoCore.Application.ViewModels.BestWorkTimeVM>

@{
    ViewData["Title"] = "BestWorkTime Management";
}

<section class="bg-transparent text-body mb-0 mt-3">
    <div class="container">
        <div class="row">
            <h3>@ViewData["Title"]</h3>
            <div class="col-md-12">
                <div>
                    <div class="pull-right">
                        <a asp-action="Create" class="btn btn-primary">
                            <span title="Register New" class="fa fa-plus"></span> Register New
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DescriptionEN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DescriptionPT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EntityState)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DescriptionEN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DescriptionPT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EntityState)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="btn btn-warning">
                                    <span class="fa fa-pencil"></span>
                                </a>

                                <a asp-action="Details" asp-route-id="@item.Id" title="Details" class="btn btn-primary">
                                    <span class="fa fa-search"></span>
                                </a>

                                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete" class="btn btn-danger">
                                    <span class="fa fa-trash"></span>
                                </a>

                                <button type="button" class="btn btn-secondary viewbutton" title="History" data-id="@item.Id" data-toggle="modal" data-target="#bestworkTimeHistory">
                                    <span class="fa fa-archive"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<div class="modal fade" id="customerHistory" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">BestWorkTime Data History</h4>
            </div>
            <div class="modal-body">
                <p id="customerHistoryData"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





@section scripts
    {
    <script type="text/javascript">
        $(".viewbutton").on("click", function() {
            var bestWorkTimeId = $(this).data('id');
            $.ajax({
                url: "https://localhost:44366/bestworktime-management/bestworktime-history/" + bestWorkTimeId,
                cache: false
            }).done(function(data) {
                var formatHtml = "<table class='table table-striped'>";
                formatHtml += "<thead><th>Action</th><th>When</th><th>Id</th><th>Name</th><th>E-mail</th><th>Birth Date</th><th>By User</th></thead>";

                for (var i = 0; i < data.length; i++) {
                    var change = data[i];
                    formatHtml += "<tr>";
                    formatHtml += "<td>" + change.action + "</td>";
                    formatHtml += "<td>" + change.when + "</td>";
                    formatHtml += "<td>" + change.id + "</td>";
                    formatHtml += "<td>" + change.name + "</td>";
                    formatHtml += "<td>" + change.email + "</td>";
                    formatHtml += "<td>" + change.birthDate + "</td>";
                    formatHtml += "<td>" + change.who + "</td>";
                    formatHtml += "</tr>";
                }
                formatHtml += "</table>";
                $("#customerHistoryData").html(formatHtml);
            });
        });
    </script>
}
