@model DemoCore.Application.ViewModels.WorkAvailabilityVM

@{
    ViewData["Title"] = "WorkAvailability Details";
}

<section class="bg-transparent text-body mb-auto mt-3">
    <div class="container">
        <h3>@ViewData["Title"]</h3>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DescriptionEN)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DescriptionEN)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DescriptionPT)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DescriptionPT)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EntityState)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EntityState)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
            <a asp-action="Index" class="btn btn-info">Back to List</a>
        </div>
    </div>
</section>


