@model DemoCore.Application.ViewModels.DesignerVM

@{
    ViewData["Title"] = "Delete Designer";
}

<section class="bg-transparent text-body mb-auto mt-3">
    <div class="container">
        <h3>@ViewData["Title"]</h3>

        <form asp-action="Delete">
            <vc:summary />

            <h4>Are you sure you want to delete the @Model.DescriptionEN ?</h4>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DescriptionEN)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DescriptionEN)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DescriptionPT)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DescriptionPT)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EntityState)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EntityState)
                    </dd>
                </dl>


                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-info">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</section>

